[Desktop Entry]
Type=Application
Name=nosonpy
GenericName=Sonos controller
Comment=Control Sonos speakers, stream this computer's audio to them
Exec=nosonpy-gui
Icon=nosonpy
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=sonos;speaker;music;radio;
StartupWMClass=nosonpy
